{% extends 'base.html' %}
	{% block body %}
		<h1> Power </h1>
		<h3> <a href="/"class="button">HOME</a></h3>
		<div class="parent">
			<div>
				<img src={{url_for('static', filename="Average Power (W) by run type.png")}} />	
			</div>
			<div>
				<img src={{url_for('static', filename="Efficiency Factor changes over time.png")}} />
			</div>
			<div>
				<img src={{url_for('static', filename="Intensity Factor changes over time.png")}} />
			</div>
			<div>
				<img src={{url_for('static', filename="Efficiency Factor by run type changes over time.png")}} />
			</div>
		</div>
		<h3> <a href="/"class="button">HOME</a></h3>
	{% endblock %}

