{% extends 'base.html' %}
	{% block body %}
		<h1> Recovery </h1>
		<h3> <a href="/"class="button">HOME</a></h3>
		<div class="parent">
			<div>
				<img src={{url_for('static',filename="Mean HRV Year-Over-Year Comparison.png")}} />
			</div>
			<div>
				<img src={{url_for('static',filename="Mean RHR Year-Over-Year Comparison.png")}} />
			</div>
			<div>
				<img src={{url_for('static',filename="Mean Total Hours of Sleep Year-Over-Year Comparison.png")}} />
			</div>
			<div>
				<img src={{url_for('static',filename="HRV-Training Load overlay.png")}} />
			</div>
		</div>
		<h3> <a href="/"class="button">HOME</a></h3>
	{% endblock %}

