{% extends 'base.html' %}
	{% block body %}
		<h1> Regression </h1>
		<h3> <a href="/"class="button">HOME</a></h3>
		<div class="parent">
			<div>
				<img src={{url_for('static',filename="Temperature (F) versus Elevation (ft).png")}} />
			</div>
			<div>
				<img src={{url_for('static',filename="GARMIN Average HR (bpm) versus Average Cadence (spm).png")}} />
			</div>
			<div>
				<img src={{url_for('static',filename="GARMIN Average HR (bpm) versus Average Power (W).png")}} />
			</div>
		</div>
		<h3> <a href="/"class="button">HOME</a></h3>
	{% endblock %}

