{% extends 'base.html' %}
	{% block body %}
		<h1> Changes-Over-Time </h1>
		<h3> <a href="/runstats"class="button">Running Statistics</a></h3>
		<div class="parent">
			<div>
				<img src={{url_for('static',filename="Histogram of Pace (min per mile).png")}} />
			</div>
			<div>
				<img src={{url_for('static',filename="Temperature (F) changes over time.png")}} />
			</div>
			<div>
				<img src={{url_for('static',filename="Pace (min per mile) changes over time.png")}} />
			</div>
			<div>
				<img src={{url_for('static',filename= "GARMIN Average HR (bpm) changes over time.png")}} />
			</div>
		</div>
		<h3> <a href="/"class="button">HOME</a></h3>
	{% endblock %}

